html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body h1 {
  color: #FF0000; }

.header__fourth {
  max-width: 1180px;
  width: 100%;
  color: #fff;
  font-family: "Cabin", sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  background: #262626; }
  .header__fourth__wrapp {
    width: 80%;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__fourth__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 600px) {
      .header__fourth__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .header__fourth__menu {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .header__fourth__item {
    display: inline-block;
    margin-right: 20px; }
    .header__fourth__item:nth-child(4) {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      .header__fourth__item {
        margin-right: 15px; } }
  .header__fourth__content {
    text-align: center; }
    .header__fourth__content__img {
      width: 50%;
      height: auto; }
  .header__fourth__link {
    text-decoration: none;
    color: #fff; }
  .header__fourth__button {
    display: inline-block;
    background-color: #24aa98;
    padding: 14px 35px;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    margin-top: 50px; }
  .header__fourth__title {
    font-size: 26px; }
    @media screen and (max-width: 600px) {
      .header__fourth__title {
        font-size: 20px; } }
