html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body h1 {
  color: #FF0000; }

.header:not(.header__fifth) {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  background-color: #FF0000; }

.header__first {
  background-color: green;
  height: 80px; }

.header__fifth {
  background: url(../img/header5/background.jpg) 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  font-family: Cabin;
  font-size: 14px;
  color: white;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px; }

.fifth {
  width: 66.1%;
  margin: 0 auto;
  padding-top: 80px; }
  .fifth__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .fifth__navigation {
    width: 57%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .fifth__navigation a {
      color: inherit;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 0.05em; }
  .fifth__title, .fifth__subsection {
    width: 60.3%; }
  .fifth__title {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-top: 60px;
    line-height: 64px; }
  .fifth__subsection {
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-top: 30px;
    line-height: 24px;
    font-weight: 600; }
  .fifth__btn {
    background-color: #d9c26c;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    outline: none;
    margin-top: 45px;
    padding: 22px 54px;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 110px; }
  .fifth__touches {
    display: inline-block;
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    bottom: 45px;
    left: -webkit-calc(50% - 98px / 2);
    left: calc(50% - 98px / 2); }
  .fifth__touch {
    display: inline-block;
    margin: 0 4px;
    border: solid 3px white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
    width: 8px;
    height: 8px; }
    .fifth__touch:hover {
      border-color: #cccccc; }
    .fifth__touch--active {
      background-color: white; }
  .fifth__arrow {
    width: 40px;
    height: 40px;
    border: solid 3px white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: white;
    font-size: 25px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    top: -webkit-calc(50% - 23px);
    top: calc(50% - 23px); }
    .fifth__arrow i {
      position: absolute;
      top: -webkit-calc(50% - 12.5px);
      top: calc(50% - 12.5px); }
    .fifth__arrow:hover {
      border-color: #cccccc;
      color: #cccccc; }
    .fifth__arrow--left {
      left: 40px; }
      .fifth__arrow--left i {
        left: -webkit-calc(50% - 5px);
        left: calc(50% - 5px); }
    .fifth__arrow--right {
      right: 40px; }
      .fifth__arrow--right i {
        right: -webkit-calc(50% - 5px);
        right: calc(50% - 5px); }

@media (max-width: 850px) {
  .fifth {
    padding-left: 20px; }
    .fifth__navigation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin-left: 20px; }
    .fifth__arrow--left {
      left: 0; }
    .fifth__arrow--right {
      right: 0; } }
