@import url("https://fonts.googleapis.com/css?family=Cabin:700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body h1 {
  color: #FF0000; }

.header {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  background-color: #FF0000;
  font-family: Cabin, sans-serif; }

.header__first {
  background-color: green;
  height: 80px; }

.l-grid {
  width: 100%; }
  .l-grid__item {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
    .l-grid__item--flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .l-grid__item--center {
      width: 60%;
      margin: auto; }

.menu {
  text-align: center; }
  .menu__item {
    display: inline-block;
    margin-right: 5%; }
    .menu__item:last-child {
      margin-right: 0; }

.menu a, .hamb-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #383737; }

.hamb-menu {
  font-size: 1.3em; }

.warning {
  text-align: center;
  font-size: 36px;
  line-height: 1.25; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-family: Cabin, sans-serif; }
  .form__input {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form__button {
    margin: 10px; }

.header__third {
  height: auto;
  background-image: url("../img/bg_third-header.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  min-width: 500px;
  font-size: 16px;
  color: #383737; }
  .header__third--logo {
    width: 20%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    text-align: center; }
  .header__third--menu {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 60%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .header__third--hamb-menu {
    width: 20%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    text-align: center; }
  .header__third--warning {
    margin-top: 30px;
    margin-bottom: 110px; }
  .header__third--form {
    margin-bottom: 140px; }

.input {
  width: 100%;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #c6ccd2;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-family: inherit;
  font-size: inherit; }
  .input.placeholder {
    color: #c6ccd2; }
  .input:-moz-placeholder {
    color: #c6ccd2; }
  .input::-moz-placeholder {
    color: #c6ccd2; }
  .input::-webkit-input-placeholder {
    color: #c6ccd2; }

.button {
  padding: 15px 25px;
  background-color: #65abd0;
  border: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-family: inherit;
  font-size: inherit;
  color: #fff; }
  .button:hover {
    opacity: 0.8;
    cursor: pointer; }
