// variables

$font-face: Cabin;
$color_red: #FF0000;
$color--main: #383737;
$color--grey_lighten: #f2f5f8;
$color--grey: #c6ccd2;
$color--blue: #65abd0;
$color--white: #fff;

$font-family: Cabin, sans-serif;
$font--main: 16px;
$font--big: 36px;