// global styles and imports for all the footers

.header:not(.header__fifth) {
	width: 100%;
	height: 30px;
	margin: 10px 0;
	background-color: $color_red;
	font-family: $font-family;
}

@import "headers/first";
@import "headers/second";
@import "headers/fifth";
@import "headers/breakpoints-second";
@import "headers/third";
@import "headers/eighth";
